<% # title and description for seo %>
<% content_for :seotags do %>
<title>Bongko Sign Up</title>
<meta name="description" content="Let Bongko know how we are doing."/>
<% end %>
<h1>Sign Up</h1>
<p>Find me in app/views/users/new.html.erb</p>
