<% # title and description for seo %>
<% content_for :seotags do %>
<title>About Bongko</title>
<meta name="description" content="Bongko pays you for your loyalty."/>
<% end %>

<h1>Bongko</h1>
<p>Get rewards for everything you do.</p>
