<% # title and description for seo %>
<% content_for :seotags do %>
<title>Contact Bongko</title>
<meta name="description" content="Let Bongko know how we are doing."/>
<% end %>

<h1>Contact</h1>
<p>contact@bongko.com</p>
